.user-form-wrapper{
margin: 10%;
height: 40vh;
width: 50vw;
background-color: bisque;
border-radius: 1rem;
}


.user-form-wrapper > form {
  width: 90%;
  height: 90%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;

}