.home {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
 align-items: center;
}

.random-share{
  
  height: 80%;
  width: 80%;
  text-align: center;
 font-size: 25rem;
 color: rgb(163, 87, 250);

}
.home > button {
  color: rgb(101, 2, 102);
  background-color:rgb(169, 243, 251);
  border: .5px solid gray;
  border-radius: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 5%;
}