.about {
  position:absolute;
  height: 100%;
  width: 100vw;
  margin: 0;
  background-color: rgb(243, 218, 252);
  z-index: 2;
  overflow-y:scroll;
  overflow-x: hidden;

  opacity: 1;
  transition: all .3s ease-in-out;
}

.about > div {
  font-size: 20rem;
}
.about > header {
  height: 8%;
  display: flex;
  justify-content: right;
}

.about > header > i {
  padding: 3%;
  font-size: 3rem;
}

.hidden {
  opacity: 0;
z-index: -1;
  transform : translatey(10%)
}
